* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin: 5px;
}

body {
    font-family: Arial, "MS Trebuchet", sans-serif;
    font-size: 0.9em;
    margin: auto;
    width: 800px;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #ccd;
    border: 1px solid #999;
    padding: 10px;
}

.block {
    margin: 20px 0px 0px 0px;
    padding: 10px;
    background-color: #eef;
}

.code {
    font-family: "Courier New", Courier;
    background-color: #DDD;
    border: 1px solid #999;
    padding: 5px;
    margin: 5px;
}
